body {
    margin: 0;
    }
/* img{
    background-size: contain;
} */

.bg-img {
    background-image: url('imagen/fondo1.jpg');
    background-size: cover;
    height: 100vh;
}

.padre {
       position: relative;
       background-color: rgb(163, 212, 236);
       height: 300px;
       width: 350px;
       top: 30%;

       left: 34.5%;
    }

form {
     text-align:center;
     }

input[type=number] 
{
  margin-top: 20px;
  width: 250px;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  border-width: 5px;
  border-radius: 10px
 outline: none;
}
input[type=text] 
{
    width: 300px;
    height:50px;
    margin-bottom: 10px;
    font-size: 17px;
    border-width: 3px;
    border-radius: 10px
}
input[type=button] 
{ 
    width: 100px;
    height: 35px;
    margin-bottom: 10px;
    font-size: 15px;
    margin-right: 20px;
    margin-left: 20px;
    border-width: 4px;
    border-radius: 10px
    
}
input[type=reset] 
{
    width: 100px;
    height: 35px;
    font-size: 15px;
    border-width: 4px;
    border-radius: 10px

}